@media print {
	.screen_only {
		display: none;
	}
}

@media (max-width: 640px){
	body {
		background: white;
	}
}

@media (min-width: 641px) and (max-width: 768px) {
	body {
		background: beige;
	}
}

@media (min-width: 769px) {
	body {
		background-color: lightblue;
	}
}